In [1]:
import csv
import pandas as pd
import sklearn as sk
from sklearn.model_selection import train_test_split
import numpy as np
import time
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier

In [2]:
data = pd.read_csv('titanic.csv')

In [3]:
data

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708
10,1,3,Miss. Marguerite Rut Sandstrom,female,4.0,1,1,16.7000
11,1,1,Miss. Elizabeth Bonnell,female,58.0,0,0,26.5500
12,0,3,Mr. William Henry Saundercock,male,20.0,0,0,8.0500
13,0,3,Mr. Anders Johan Andersson,male,39.0,1,5,31.2750
14,0,3,Miss. Hulda Amanda Adolfina Vestrom,female,14.0,0,0,7.8542
15,1,2,Mrs. (Mary D Kingcome) Hewlett,female,55.0,0,0,16.0000
16,0,3,Master. Eugene Rice,male,2.0,4,1,29.1250
17,1,2,Mr. Charles Eugene Williams,male,23.0,0,0,13.0000
18,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,female,31.0,1,0,18.0000
19,1,3,Mrs. Fatima Masselmani,female,22.0,0,0,7.2250
20,0,2,Mr. Joseph J Fynney,male,35.0,0,0,26.0000
21,1,2,Mr. Lawrence Beesley,male,34.0,0,0,13.0000
22,1,3,Miss. Anna McGowan,female,15.0,0,0,8.0292
23,1,1,Mr. William Thompson Sloper,male,28.0,0,0,35.5000
24,0,3,Miss. Torborg Danira Palsson,female,8.0,3,1,21.0750
25,1,3,Mrs. Carl Oscar (Selma Augusta Emilia Johansso...,female,38.0,1,5,31.3875
26,0,3,Mr. Farred Chehab Emir,male,26.0,0,0,7.2250
27,0,1,Mr. Charles Alexander Fortune,male,19.0,3,2,263.0000
28,1,3,Miss. Ellen O'Dwyer,female,24.0,0,0,7.8792
29,0,3,Mr. Lalio Todoroff,male,23.0,0,0,7.8958
...,...,...,...,...,...,...,...,...
857,0,2,Mr. Frederick Edward Giles,male,21.0,1,0,11.5000
858,1,1,Mrs. Frederick Joel (Margaret Welles Barron) S...,female,48.0,0,0,25.9292
859,0,3,Miss. Dorothy Edith Sage,female,14.0,8,2,69.5500
860,0,2,Mr. John William Gill,male,24.0,0,0,13.0000
861,1,2,Mrs. (Karolina) Bystrom,female,42.0,0,0,13.0000
862,1,2,Miss. Asuncion Duran y More,female,27.0,1,0,13.8583
863,0,1,Mr. Washington Augustus II Roebling,male,31.0,0,0,50.4958
864,0,3,Mr. Philemon van Melkebeke,male,23.0,0,0,9.5000
865,1,3,Master. Harold Theodor Johnson,male,4.0,1,1,11.1333
866,0,3,Mr. Cerin Balkic,male,26.0,0,0,7.8958
867,1,1,Mrs. Richard Leonard (Sallie Monypeny) Beckwith,female,47.0,1,1,52.5542
868,0,1,Mr. Frans Olof Carlsson,male,33.0,0,0,5.0000
869,0,3,Mr. Victor Vander Cruyssen,male,47.0,0,0,9.0000
870,1,2,Mrs. Samuel (Hannah Wizosky) Abelson,female,28.0,1,0,24.0000
871,1,3,Miss. Adele Kiamie Najib,female,15.0,0,0,7.2250
872,0,3,Mr. Alfred Ossian Gustafsson,male,20.0,0,0,9.8458
873,0,3,Mr. Nedelio Petroff,male,19.0,0,0,7.8958
874,0,3,Mr. Kristo Laleff,male,23.0,0,0,7.8958
875,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56.0,0,1,83.1583
876,1,2,Mrs. William (Imanita Parrish Hall) Shelley,female,25.0,0,1,26.0000
877,0,3,Mr. Johann Markun,male,33.0,0,0,7.8958
878,0,3,Miss. Gerda Ulrika Dahlberg,female,22.0,0,0,10.5167
879,0,2,Mr. Frederick James Banfield,male,28.0,0,0,10.5000
880,0,3,Mr. Henry Jr Sutehall,male,25.0,0,0,7.0500
881,0,3,Mrs. William (Margaret Norton) Rice,female,39.0,0,5,29.1250
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [4]:
y = data.Survived
x = data.drop('Survived', axis=1)
print(x.columns)

Index(['Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

In [7]:
df = data.copy(deep=True)
for i in range(len(df.Sex)):
  if df.Sex[i] == 'male':
    df.Sex[i] = 0
  elif df.Sex[i] == 'female':
    df.Sex[i] = 1
  else:
    print('Accepted gender value not found')
    continue
    
df = df.drop('Name', axis=1)

C:\Users\benny\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\benny\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
df

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,0,22.0,1,0,7.2500
1,1,1,1,38.0,1,0,71.2833
2,1,3,1,26.0,0,0,7.9250
3,1,1,1,35.0,1,0,53.1000
4,0,3,0,35.0,0,0,8.0500
5,0,3,0,27.0,0,0,8.4583
6,0,1,0,54.0,0,0,51.8625
7,0,3,0,2.0,3,1,21.0750
8,1,3,1,27.0,0,2,11.1333
9,1,2,1,14.0,1,0,30.0708
10,1,3,1,4.0,1,1,16.7000
11,1,1,1,58.0,0,0,26.5500
12,0,3,0,20.0,0,0,8.0500
13,0,3,0,39.0,1,5,31.2750
14,0,3,1,14.0,0,0,7.8542
15,1,2,1,55.0,0,0,16.0000
16,0,3,0,2.0,4,1,29.1250
17,1,2,0,23.0,0,0,13.0000
18,0,3,1,31.0,1,0,18.0000
19,1,3,1,22.0,0,0,7.2250
20,0,2,0,35.0,0,0,26.0000
21,1,2,0,34.0,0,0,13.0000
22,1,3,1,15.0,0,0,8.0292
23,1,1,0,28.0,0,0,35.5000
24,0,3,1,8.0,3,1,21.0750
25,1,3,1,38.0,1,5,31.3875
26,0,3,0,26.0,0,0,7.2250
27,0,1,0,19.0,3,2,263.0000
28,1,3,1,24.0,0,0,7.8792
29,0,3,0,23.0,0,0,7.8958
...,...,...,...,...,...,...,...
857,0,2,0,21.0,1,0,11.5000
858,1,1,1,48.0,0,0,25.9292
859,0,3,1,14.0,8,2,69.5500
860,0,2,0,24.0,0,0,13.0000
861,1,2,1,42.0,0,0,13.0000
862,1,2,1,27.0,1,0,13.8583
863,0,1,0,31.0,0,0,50.4958
864,0,3,0,23.0,0,0,9.5000
865,1,3,0,4.0,1,1,11.1333
866,0,3,0,26.0,0,0,7.8958
867,1,1,1,47.0,1,1,52.5542
868,0,1,0,33.0,0,0,5.0000
869,0,3,0,47.0,0,0,9.0000
870,1,2,1,28.0,1,0,24.0000
871,1,3,1,15.0,0,0,7.2250
872,0,3,0,20.0,0,0,9.8458
873,0,3,0,19.0,0,0,7.8958
874,0,3,0,23.0,0,0,7.8958
875,1,1,1,56.0,0,1,83.1583
876,1,2,1,25.0,0,1,26.0000
877,0,3,0,33.0,0,0,7.8958
878,0,3,1,22.0,0,0,10.5167
879,0,2,0,28.0,0,0,10.5000
880,0,3,0,25.0,0,0,7.0500
881,0,3,1,39.0,0,5,29.1250
882,0,2,0,27.0,0,0,13.0000
883,1,1,1,19.0,0,0,30.0000
884,0,3,1,7.0,1,2,23.4500
885,1,1,0,26.0,0,0,30.0000
886,0,3,0,32.0,0,0,7.7500

In [9]:
scaler = MinMaxScaler()
data1 = scaler.fit_transform(df)
new_data = pd.DataFrame(data1)

new_data

       0    1    2         3      4         5         6
0    0.0  1.0  0.0  0.271174  0.125  0.000000  0.014151
1    1.0  0.0  1.0  0.472229  0.125  0.000000  0.139136
2    1.0  1.0  1.0  0.321438  0.000  0.000000  0.015469
3    1.0  0.0  1.0  0.434531  0.125  0.000000  0.103644
4    0.0  1.0  0.0  0.434531  0.000  0.000000  0.015713
5    0.0  1.0  0.0  0.334004  0.000  0.000000  0.016510
6    0.0  0.0  0.0  0.673285  0.000  0.000000  0.101229
7    0.0  1.0  0.0  0.019854  0.375  0.166667  0.041136
8    1.0  1.0  1.0  0.334004  0.000  0.333333  0.021731
9    1.0  0.5  1.0  0.170646  0.125  0.000000  0.058694
10   1.0  1.0  1.0  0.044986  0.125  0.166667  0.032596
11   1.0  0.0  1.0  0.723549  0.000  0.000000  0.051822
12   0.0  1.0  0.0  0.246042  0.000  0.000000  0.015713
13   0.0  1.0  0.0  0.484795  0.125  0.833333  0.061045
14   0.0  1.0  1.0  0.170646  0.000  0.000000  0.015330
15   1.0  0.5  1.0  0.685851  0.000  0.000000  0.031230
16   0.0  1.0  0.0  0.019854  0.500  0.166667  0.056848
17   1.0  0.5  0.0  0.283740  0.000  0.000000  0.025374
18   0.0  1.0  1.0  0.384267  0.125  0.000000  0.035134
19   1.0  1.0  1.0  0.271174  0.000  0.000000  0.014102
20   0.0  0.5  0.0  0.434531  0.000  0.000000  0.050749
21   1.0  0.5  0.0  0.421965  0.000  0.000000  0.025374
22   1.0  1.0  1.0  0.183212  0.000  0.000000  0.015672
23   1.0  0.0  0.0  0.346569  0.000  0.000000  0.069291
24   0.0  1.0  1.0  0.095250  0.375  0.166667  0.041136
25   1.0  1.0  1.0  0.472229  0.125  0.833333  0.061264
26   0.0  1.0  0.0  0.321438  0.000  0.000000  0.014102
27   0.0  0.0  0.0  0.233476  0.375  0.333333  0.513342
28   1.0  1.0  1.0  0.296306  0.000  0.000000  0.015379
29   0.0  1.0  0.0  0.283740  0.000  0.000000  0.015412
..   ...  ...  ...       ...    ...       ...       ...
857  0.0  0.5  0.0  0.258608  0.125  0.000000  0.022447
858  1.0  0.0  1.0  0.597889  0.000  0.000000  0.050610
859  0.0  1.0  1.0  0.170646  1.000  0.333333  0.135753
860  0.0  0.5  0.0  0.296306  0.000  0.000000  0.025374
861  1.0  0.5  1.0  0.522493  0.000  0.000000  0.025374
862  1.0  0.5  1.0  0.334004  0.125  0.000000  0.027050
863  0.0  0.0  0.0  0.384267  0.000  0.000000  0.098561
864  0.0  1.0  0.0  0.283740  0.000  0.000000  0.018543
865  1.0  1.0  0.0  0.044986  0.125  0.166667  0.021731
866  0.0  1.0  0.0  0.321438  0.000  0.000000  0.015412
867  1.0  0.0  1.0  0.585323  0.125  0.166667  0.102579
868  0.0  0.0  0.0  0.409399  0.000  0.000000  0.009759
869  0.0  1.0  0.0  0.585323  0.000  0.000000  0.017567
870  1.0  0.5  1.0  0.346569  0.125  0.000000  0.046845
871  1.0  1.0  1.0  0.183212  0.000  0.000000  0.014102
872  0.0  1.0  0.0  0.246042  0.000  0.000000  0.019218
873  0.0  1.0  0.0  0.233476  0.000  0.000000  0.015412
874  0.0  1.0  0.0  0.283740  0.000  0.000000  0.015412
875  1.0  0.0  1.0  0.698417  0.000  0.166667  0.162314
876  1.0  0.5  1.0  0.308872  0.000  0.166667  0.050749
877  0.0  1.0  0.0  0.409399  0.000  0.000000  0.015412
878  0.0  1.0  1.0  0.271174  0.000  0.000000  0.020527
879  0.0  0.5  0.0  0.346569  0.000  0.000000  0.020495
880  0.0  1.0  0.0  0.308872  0.000  0.000000  0.013761
881  0.0  1.0  1.0  0.484795  0.000  0.833333  0.056848
882  0.0  0.5  0.0  0.334004  0.000  0.000000  0.025374
883  1.0  0.0  1.0  0.233476  0.000  0.000000  0.058556
884  0.0  1.0  1.0  0.082684  0.125  0.333333  0.045771
885  1.0  0.0  0.0  0.321438  0.000  0.000000  0.058556
886  0.0  1.0  0.0  0.396833  0.000  0.000000  0.015127

[887 rows x 7 columns]

In [10]:
new_new_data = new_data.drop(0, axis=1)
X,y = new_new_data, new_data[0]

X_train, X_test, y_train, y_test = train_test_split(X, y)
print(X_train)

       1    2         3      4         5         6
96   0.0  0.0  0.283740  0.000  0.166667  0.123667
561  1.0  1.0  0.773813  0.000  0.000000  0.015713
144  0.5  0.0  0.233476  0.125  0.166667  0.071731
413  1.0  1.0  0.396833  0.000  0.000000  0.015713
213  1.0  0.0  0.271174  0.125  0.000000  0.015127
847  1.0  0.0  0.924604  0.000  0.000000  0.015176
652  0.5  0.0  0.296306  0.250  0.000000  0.143462
355  0.5  1.0  0.472229  0.000  0.000000  0.025374
14   1.0  1.0  0.170646  0.000  0.000000  0.015330
677  1.0  1.0  0.346569  0.000  0.000000  0.015883
646  1.0  1.0  0.283740  0.000  0.000000  0.014737
542  0.0  0.0  0.798944  0.000  0.000000  0.050749
323  0.0  1.0  0.447097  0.000  0.000000  0.264739
396  0.5  0.0  0.283740  0.000  0.000000  0.020495
654  1.0  1.0  0.396833  0.125  0.166667  0.030254
859  1.0  1.0  0.170646  1.000  0.333333  0.135753
515  0.5  1.0  0.447097  0.125  0.000000  0.050749
536  0.0  1.0  0.271174  0.000  0.333333  0.096618
466  1.0  1.0  0.004147  0.250  0.166667  0.037590
432  0.0  1.0  0.170646  0.125  0.333333  0.234224
796  0.5  0.0  0.421965  0.000  0.000000  0.025374
194  0.0  1.0  0.723549  0.000  0.000000  0.285990
364  0.0  1.0  0.748681  0.125  0.000000  0.146878
871  1.0  1.0  0.183212  0.000  0.000000  0.014102
607  1.0  1.0  0.484795  0.125  0.833333  0.061045
348  1.0  0.0  0.283740  0.000  0.000000  0.018006
130  1.0  0.0  0.246042  0.000  0.000000  0.013761
209  1.0  0.0  0.296306  0.000  0.000000  0.013761
720  0.0  0.0  0.334004  0.125  0.000000  0.103644
772  1.0  0.0  0.246042  0.000  0.000000  0.015127
..   ...  ...       ...    ...       ...       ...
616  0.5  0.0  0.321438  0.000  0.000000  0.020495
649  1.0  0.0  0.258608  0.000  0.000000  0.016461
105  1.0  1.0  0.258608  0.000  0.000000  0.014932
694  1.0  1.0  0.233476  0.000  0.000000  0.015094
705  0.0  1.0  0.271174  0.000  0.000000  0.295806
31   0.0  1.0  0.597889  0.125  0.000000  0.285990
491  1.0  0.0  0.258608  0.000  0.000000  0.015713
326  1.0  1.0  0.384267  0.125  0.166667  0.040062
576  1.0  0.0  0.396833  0.000  0.000000  0.015469
315  0.5  0.0  0.673285  0.000  0.000000  0.027326
714  0.5  1.0  0.334004  0.000  0.000000  0.020495
367  0.0  1.0  0.296306  0.000  0.000000  0.135265
651  1.0  1.0  0.220910  0.000  0.000000  0.013175
715  1.0  0.0  0.409399  0.000  0.000000  0.015176
598  1.0  0.0  0.522493  0.000  0.000000  0.015412
788  1.0  1.0  0.258608  1.000  0.333333  0.135753
255  0.0  1.0  0.472229  0.000  0.000000  0.154588
339  0.0  1.0  0.296306  0.375  0.333333  0.513342
345  1.0  1.0  0.421965  0.125  0.000000  0.031425
841  1.0  0.0  0.522493  0.000  0.000000  0.014737
701  1.0  0.0  0.321438  0.125  0.000000  0.015330
863  0.0  0.0  0.384267  0.000  0.000000  0.098561
683  1.0  0.0  0.170646  0.500  0.166667  0.077465
418  1.0  0.0  0.258608  0.000  0.000000  0.015094
700  1.0  0.0  0.308872  0.000  0.000000  0.015111
806  1.0  0.0  0.321438  0.000  0.000000  0.015395
470  0.5  1.0  0.283740  0.000  0.000000  0.026920
487  1.0  0.0  0.233476  0.125  0.000000  0.038972
218  0.5  0.0  0.371701  0.000  0.000000  0.020495
75   1.0  0.0  0.283740  0.000  0.000000  0.015412

[665 rows x 6 columns]

In [11]:
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [16]:
score = (neigh.score(X_test, y_test)*100)
score_rounded = "{:.2f}".format(score)
print("The accuracy of K-nearest neighbor is: ", score_rounded, "%")

The accuracy of K-nearest neighbor is:  88.29 %